<template>
  <v-form ref="form">
    <v-textarea
      v-model="text_to_scan"
      solo
      autofocus
      clearable
      rows=6
      label="Enter text to scan"
    >
    </v-textarea>

    <v-btn
      :disabled="!text_to_scan"
      @click="submit"
      ripple
    >Scan
    </v-btn>

  </v-form>
</template>

<script>
  export default {
    data: () => ({
      text_to_scan: '',
    }),

    methods: {
      submit () {
        console.log(this.text_to_scan)
      }
    },
  }
</script>