<template>
  <v-app id="app">
    <v-app-bar
      app
      color="blue lighten-1"
      dense
    >
    <v-toolbar-title>My App</v-toolbar-title>
    </v-app-bar>
    <v-content>
      <v-container fluid>
        <nuxt/>
      </v-container>
    </v-content>
  </v-app>
</template>
